@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Leilão Graff</h1>
    <p class="lead">por: Gabriel Bonatto</p>
</div>

<div class="row">
  <div class="text-center">
    <h2>Pessoas</h2>
    <p>
      Realizar o cadastro das pessoas que irão realizar as apostas.
    </p>
    <p><a class="btn btn-default" @Html.ActionLink("Pessoas","IndexPessoa","Pessoa", null, new { @class = "page-scroll" })</a></p>
  </div>
  <div class="text-center">
    <h2>Produtos</h2>
    <p>
      Realizar o cadastro dos produtos leiloados.
    </p>
    <p><a class="btn btn-default" @Html.ActionLink("Produtos","IndexProduto","Produto", null, new { @class = "page-scroll" })</a></p>
  </div>
  <div class="text-center">
    <h2>Lances</h2>
    <p>
      Cadastrar e Consultar Lances
    </p>
    <p><a class="btn btn-default" @Html.ActionLink("Lances","IndexLance","Lance", null, new { @class = "page-scroll" })</a></p>
  </div>
</div>